<!-- <div id="d">
    <div id="d1">
      <div class="product" *ngFor="let product of products; let i = index">
        <img [src]="product.image" [alt]="product.alt">
        <p>{{ product.description }}</p>
        <div class="quantity-control">
          <button (click)="decreaseQuantity(i)">-</button>
          <input type="number" [(ngModel)]="product.quantity" min="0">
          <button (click)="increaseQuantity(i)">+</button>
        </div>
        <button>Add to Cart</button>
      </div>
    </div>
    <h1>Total Summary</h1>
    <p id="det">Total Cart count: {{ totalQuantity }}</p>
  </div>
   -->

   